RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force coming soon
RewriteCond %{REQUEST_URI} !/coming-soon\.html$ [NC]
RewriteRule ^.*$ /coming-soon.html [R=302,L]