RewriteEngine On

# -----------------------------------
# FORCE HTTPS
# -----------------------------------
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# -----------------------------------
# 1. REMOVE .html FROM BROWSER URL
# -----------------------------------
RewriteCond %{THE_REQUEST} \s/+(.+)\.html [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# -----------------------------------
# 2. INTERNALLY LOAD .html FILES
# -----------------------------------
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]